@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

.create-story-form {
    text-align: center;
    width: 1 rem;
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button1 {width: 50%;}

body {
    background-color: rgb(240, 239, 239);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img {
    filter: grayscale(100%);
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}
