{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<div id="story-wrapper">
    
{% if story.author == request.user %}
<a href=" {% url 'news:editStory' story.id %}">Edit Story</a> 
<a href=" {% url 'news:deleteStory' story.id %}">Delete Story</a>
{% endif %}
    <h2>{{ story.title }}</h2>
    <a href="{% url 'news:authorstories' story.author.id %}"><h4>{{ story.author }}</h4> </a>
    <div id="story-content">
        <img src="{{ story.image_url_field}}">
        {{ story.content|linebreaks }}
    </div>
</div>
{% endblock %}
